@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500&display=swap");

body {
  font-family: "DM Mono";
  letter-spacing: -0.05ch;
  background-color: #1a1b26;
  color: #a9b1d6 !important;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  margin: 20px;
}

.border-container {
  position: relative;
  padding: 20px;
  border: 2px solid #414868;
  transition: border-color 0.2s ease-out;
  text-align: center;
}

.border-container::before {
  content: " ";
  position: absolute;
  top: -12px;
  left: 20px;
  background-color: #1a1b26;
  padding: 0 8px;
  font-size: 16px;
  color: #414868;
}

.intro {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}
.intro::before {
  content: "intro";
  transition: color 0.2s ease-out;
}
.intro:hover::before {
  color: #bb9af7;
  transition: color 0.2s ease-in;
}

.languages {
  grid-column: 4 / span 3;
  grid-row: 1 / span 2;
}
.languages::before {
  content: "languages";
  transition: color 0.2s ease-out;
}
.languages:hover::before {
  color: #f7768e;
  transition: color 0.2s ease-in;
}
.stats {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
.stats::before {
  content: "github";
  transition: color 0.2s ease-out;
}
.stats:hover::before {
  color: #38bdae !important;
  transition: color 0.2s ease-in;
}
.ghstats {
  width: 105%;
  overflow: hidden;
}
.hobbies {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.hobbies::before {
  content: "hobbies";
  transition: color 0.2s ease-out;
}
.hobbies:hover::before {
  color: #7aa2f7;
  transition: color 0.2s ease-in;
}
.blog {
  grid-column: 5 / span 2;
  grid-row: 3 / span 3;
}
.blog::before {
  content: "blog";
  transition: color 0.2s ease-out;
}
.blog:hover::before {
  color: #ff9e64;
  transition: color 0.2s ease-in;
}
.hint {
  grid-column: 1 / span 3;
  grid-row: 5 / span 2;
}
.hint::before {
  content: "hint";
  transition: color 0.2s ease-out;
}
.hint:hover::before {
  color: #cfc9c2;
  transition: color 0.2s ease-in;
}
.contact {
  grid-column: 4 / span 1;
  grid-row: 5 / span 2;
}
.contact::before {
  content: "contact";
  transition: color 0.2s ease-out;
}
.contact:hover::before {
  color: #f7768e;
  transition: color 0.2s ease-in;
}
.projects {
  grid-column: 5 / span 2;
  grid-row: 5 / span 2;
}
.projects::before {
  content: "projects";
  transition: color 0.2s ease-out;
}
.projects:hover::before {
  color: #38bdae;
  transition: color 0.2s ease-in;
}

.intro:hover {
  border-color: #bb9af7 !important;
}

.languages:hover {
  border-color: #f7768e !important;
}

.skill-bar {
  margin: 10px 0;
  margin-bottom: 50px;
}

.skill-name {
  font-size: 18px;
  margin-bottom: 10px !important;
}

.bar {
  width: 100%;
  background-color: #414868;
  margin-top: 10px;
}

.progress {
  height: 10px;
  background-color: #f7768e;
  border-radius: 0px;
  width: 0%;
  transition: width 0.75s ease;
}

.languages:hover .skill-bar:nth-child(1) .progress {
  width: 43%;
}

.languages:hover .skill-bar:nth-child(2) .progress {
  width: 78%;
}

.languages:hover .skill-bar:nth-child(3) .progress {
  width: 89%;
}

.languages:hover .skill-bar:nth-child(4) .progress {
  width: 82%;
}

.languages:hover .skill-bar:nth-child(5) .progress {
  width: 54%;
}

.progress:hover {
  background-color: #f7768e;
}

.stats:hover {
  border-color: #38bdae !important;
}

.hobbies:hover {
  border-color: #7aa2f7 !important;
}

ul li {
  text-align: left;
}
.blog {
  height: 60.3%;
}
.blog:hover {
  border-color: #ff9e64 !important;
}

.hint:hover {
  border-color: #cfc9c2 !important;
}

.contact:hover {
  border-color: #f7768e !important;
}

.projects:hover {
  border-color: #38bdae !important;
}

.phoenix {
  aspect-ratio: 4 / 1;
  width: 100% !important;
}

.footer {
  font-size: 0.8em;
  color: #565c64;
  text-align: center;
}

a {
  color: #7aa2f7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.blog-link {
  color: #ff9e64;
}

.projects-link {
  color: #38bdae;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .border-container {
    margin: 10px;
  }
}
